<div class="row justify-content-center m-0">
    <div class="col-md-5 text-center">
        <p>
            tel: +21 21000 0000
            <br> 
            mail: gmail@gmail.com
            <br>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-youtube-square"></i></a>
            <hr class="footer-hr">
            <i style="font-size:20px">Do not hesitate to contact us </i>
        </p>
    </div>
</div>
</div>